<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">BackEndApplication API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Usage summary
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
        <h3>Suggested calls</h3>

        <ol class="round">
            
            <li>
                <a  target="_blank" href="/artist/search/joh">Search: /artist/search/joh</a>
            </li>

            <li>
                <a target="_blank" href="/artist/search/joh/2/5">Search: /artist/search/joh/2/5</a>
            </li>

            <li>
                <a target="_blank" href="/artist/c44e9c22-ef82-4a77-9bcd-af6c958446d6/releases">Releases:  /artist/c44e9c22-ef82-4a77-9bcd-af6c958446d6>/releases</a>
            </li>

            <li>
                <a target="_blank" href="/artist/a015074b-e109-412d-9f7b-170b80a0ebbd/albums">Albums:  /artist/a015074b-e109-412d-9f7b-170b80a0ebbd/albums</a>
            </li>
        </ol>
    </section>
</div>
