USE [BackEndApplication]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 2017-01-23 03:57:48 PM ******/
DROP TABLE [dbo].[Artists]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 2017-01-23 03:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [nvarchar](max) NULL,
	[UniqueIdentifier] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Aliases] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Artists] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [UniqueIdentifier], [Country], [Aliases]) VALUES (1, N'Metallica', N'65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab', N'US', N'Metalica,메탈리카')
INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [UniqueIdentifier], [Country], [Aliases]) VALUES (2, N'Lady Gaga', N'650e7db6-b795-4eb5-a702-5ea2fc46c848', N'US', N'Lady Ga Ga,Stefani Joanne Angelina Germanotta')
INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [UniqueIdentifier], [Country], [Aliases]) VALUES (3, N'Mumford & Sons', N'c44e9c22-ef82-4a77-9bcd-af6c958446d6', N'GB', N'')
SET IDENTITY_INSERT [dbo].[Artists] OFF
