USE [Artists]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 2017/01/19 1:15:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[ArtistsName] [nvarchar](100) NULL,
	[Country] [nvarchar](2) NULL,
	[Aliases] [nvarchar](max) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Artists] ([UniqueId], [ArtistsName], [Country], [Aliases]) VALUES (N'6456a893-c1e9-4e3d-86f7-0008b0a3ac8a', N'Jack Johnson', N'US', N'Jack Hody Johnson')
GO
INSERT [dbo].[Artists] ([UniqueId], [ArtistsName], [Country], [Aliases]) VALUES (N'144ef525-85e9-40c3-8335-02c32d0861f3', N'John Mayer', N'US', N'')
GO
INSERT [dbo].[Artists] ([UniqueId], [ArtistsName], [Country], [Aliases]) VALUES (N'29f3e1bf-aec1-4d0a-9ef3-0cb95e8a3699', N'Transplants', N'US', N'The Transplants')
GO
