USE [master]
GO
/****** Object:  Database [ArtistDB]    Script Date: 23/10/2015 09:35:55 ******/
CREATE DATABASE [ArtistDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArtistDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\ArtistDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArtistDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\ArtistDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArtistDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArtistDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23/10/2015 09:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 23/10/2015 09:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Identifier] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Artist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Elias]    Script Date: 23/10/2015 09:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EliasName] [nvarchar](max) NULL,
	[ArtistId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Elias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([Id], [Name], [Identifier], [Country]) VALUES (1, N'Metallica', N'65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab', N'US')
INSERT [dbo].[Artist] ([Id], [Name], [Identifier], [Country]) VALUES (2, N'Lady Gaga', N'650e7db6-b795-4eb5-a702-5ea2fc46c848', N'US')
INSERT [dbo].[Artist] ([Id], [Name], [Identifier], [Country]) VALUES (3, N'Mumford & Sons', N'c44e9c22-ef82-4a77-9bcd-af6c958446d6', N'GB')
SET IDENTITY_INSERT [dbo].[Artist] OFF
SET IDENTITY_INSERT [dbo].[Elias] ON 

INSERT [dbo].[Elias] ([Id], [EliasName], [ArtistId]) VALUES (1, N'Metalica', 1)
INSERT [dbo].[Elias] ([Id], [EliasName], [ArtistId]) VALUES (2, N'메탈리카', 1)
INSERT [dbo].[Elias] ([Id], [EliasName], [ArtistId]) VALUES (3, N'Lady Ga Ga', 2)
SET IDENTITY_INSERT [dbo].[Elias] OFF
/****** Object:  Index [IX_ArtistId]    Script Date: 23/10/2015 09:35:56 ******/
CREATE NONCLUSTERED INDEX [IX_ArtistId] ON [dbo].[Elias]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Elias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Elias_dbo.Artist_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Elias] CHECK CONSTRAINT [FK_dbo.Elias_dbo.Artist_ArtistId]
GO
USE [master]
GO
