USE [master];
GO
--INITIALIZATION
IF EXISTS(SELECT name FROM sys.databases
WHERE name = 'StructureDB')
ALTER DATABASE [StructureDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
DROP DATABASE StructureDB;
GO
CREATE DATABASE [StructureDB];
GO
--CREATE SCHEMA
USE [StructureDB]
BEGIN TRANSACTION
BEGIN TRY

CREATE TABLE dbo.Artists
	(
	Id uniqueidentifier NOT NULL,
	Name nvarchar(100) NOT NULL,
	Country nvarchar(10),
	CONSTRAINT PK_Artist PRIMARY KEY NONCLUSTERED(Id)
	) 

CREATE TABLE dbo.ArtistAliases
	(
	Id uniqueidentifier NOT NULL,
	Name nvarchar(200) NOT NULL,
	ArtistId uniqueidentifier NOT NULL,
	CONSTRAINT PK_ArtistAliases PRIMARY KEY NONCLUSTERED(Id),
	CONSTRAINT FK_ArtistAlias_Artist FOREIGN KEY(ArtistId) References dbo.Artists
	) 


COMMIT
END TRY
BEGIN CATCH
DECLARE @ERRORMESSAGE varchar(4000);
DECLARE @ERRORSEVERITY INT;
DECLARE @ERRORSTATE INT;
SET @ERRORMESSAGE =  ERROR_MESSAGE();
SET @ERRORSEVERITY = ERROR_SEVERITY();
SET @ERRORSTATE = ERROR_STATE();
RAISERROR(@ERRORMESSAGE,@ERRORSEVERITY,@ERRORSTATE);
ROLLBACK
END CATCH