<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Artist Search Api</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <p>
                    //
                 // GET: /Artists/
                //      /api/artist/search/{search_criteria}/{page_number}/{page_size}
                </p>
            </li>

            <li class="two">
                <p>
                    //
               // GET: /Releases/
              //      api/artist/{id}/albums
                </p>
            </li>

        </ol>
    </section>
</div>
